<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<h1>
    Some data
</h1>

<div class="mainDiv">
    <table>
        <tr>
            <td>
                data 1
            </td>
        </tr>
        <tr>
            <td>
                data 2
            </td>
        </tr>
        <tr>
            <td>
                data 3
            </td>
        </tr>
    </table>
</div>

<h2>Hello from another Planet</h2>
</body>

</html>